body {
  font-family: "Sora", sans-serif;
  background-color: #f4f7fc;
  margin: 0;
  padding: 0px;
  background-image: url("../assets/back.png");
  background-size: auto;
  background-position: bottom right;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.container1 {
  display: block;
  margin: 35px 300px;
  background: white;
  height: auto;
  padding: 50px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  position: relative;
}

.progress-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.circle {
  width: 40px;
  height: 40px;
  background: #e0e0e0;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  color: white;
  font-weight: bold;
  margin: 0 10px;
}

.line {
  width: 100px;
  height: 5px;
  background: #e0e0e0;
}

.active {
  background: #007bff;
}

h2 {
  font-size: 24px;
  margin-bottom: 20px;
  font-weight: normal;
}

.form-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  gap: 70px;
}

.form-group {
  flex-basis: 100%;
  text-align: left;
}

label {
  display: block;
  margin-bottom: 8px;
  font-size: 16px;
  color: #666;
}

input[type="text"],
input[type="date"],
input[type="number"],
select,
input[type="tel"] {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 14px;
  box-sizing: border-box;
  background-color: #f9f9f9;
}

.phone-input {
  display: flex;
}

.phone-input input[type="text"] {
  width: 30%;
  margin-right: 5px;
  padding-left: 10px;
  padding-right: 5px;
}

.next-button-row {
  background-color: antiquewhite;
  display: flex;
  justify-content: flex-end;
  margin-top: 30px;
  margin-left: 55vw;
}

button {
  background-color: #007bff;
  color: white;
  padding: 12px 25px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}

button:hover {
  background-color: #0056b3;
}
